@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,300;1,400&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
*{
    text-transform:capitalize;
    box-sizing: border-box;
    list-style: none;
    padding: 0;margin:0;border:none;
    text-decoration: none;
    color:#fff;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    transition: 0.5s;

}
body{
    background:black;
    overflow-x:hidden; 
}
::-webkit-scrollbar{
    width: 6px;
    
}
::-webkit-scrollbar-track{
    background-color: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #cc0000; 
}

/*INICIO DEL  NAVBAR */
.navbar{
    padding:15px;
    background-color: rgba(0, 0, 0, 0);
}
.listas{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:1em;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}
.listas-letras-enlaces{
    color: #fff;
    padding: 0em 2em;
    display: flex;
    font-size: 22px;
    background-color: rgb(0, 0, 0);
}
.listas-letras:hover a{
    cursor:pointer;
    text-decoration: underline;
    text-decoration-color:#CC0000 ;
    background-color: rgb(0, 0, 0);
}
/* FIN DEL NAVBAR */



/* INTRODUCCION DE LA PAGINA */

.contenido-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    /* border: 1px solid white; */
}
.contenido-presentacion .descripcion-titulo{
    display: flex;
    font-size:40px;
    justify-content: center;
        letter-spacing:3px;
}
.resaltar{
    color:#cc0000;
}
.intro{
    height:100vh;
    width:100vw;
    position: relative;
    color:#fff;
}

.contenido{
    background-image: url(img/foto2.png);
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    /* border:1px solid white; */
}
.imagen{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 1px solid white; */
}

/* FIN DE LA PRESENTACION */

/* ABOUT */
.about{
    height:100vh;
    /* border:1px solid white; */
    width:100vw;
}

.about_titulo{
    display:flex;
    justify-content: center;
    padding-top: 1em;
    font-size:3em;
    text-decoration: underline;
    text-decoration-color:#cc0000;
    letter-spacing:3px;
}
.about_container{
    height:100vh;
    /* border:1px solid white; */
}
.about_container img{
    width: 45vw;
    /* height:80vh; */
}
.contenedor-imagen{
    width:100vw;
    /* border:1px solid white; */
    display: flex;
    /* justify-content:right; */
}
.about_descripcion{
    width:100%;
    height:100%;
    align-items:center;
    padding:14%;
    font-size:30px;
    display: block;
    text-align:justify;
    line-height : 1.2em;
    letter-spacing: 1px;
    
}
.about_descripcion a {
    margin-top:20px ;
    display:inline-block;
    padding: 10px;
    background-color: #cc0000;
    justify-content: center;
    border-radius:5px;
}
DS
/* PORFTOLIO */


.porfolio-contenedor{
    margin-top: 5em;
    width:100vw;
    height:100vh;
    /* border:1px solid white; */
}
.porfolio-contenedor h2{
    /* height: vh; */
    text-align: center;
    font-size:3em;
    text-decoration: underline;
    text-decoration-color:#cc0000;
    margin-top: 3em;
    margin-bottom: 1em;
    letter-spacing:3px;
}
.imagenes{
    padding:5%;
    justify-content: center;
    text-align: center;
    /* margin:auto; */
}
.imagen-porfolio {
    width:30em;
    height:20em;
    /* border:1px solid white;    */
}

.skills-contenedor{
    width:100vw;
    height:90vh;
}
.skills-contenedor h2{
    text-align: center;
    font-size:3em;
    text-decoration: underline;
    text-decoration-color:#cc0000;
    margin-top: 5em;
    margin-bottom: 1em;
    letter-spacing:3px;
}
.imagen-skills{
    width:20em;
    height:22em;
}
.boton{
    color:#fff;
}
.boton:hover{
    background-color:#B70E21;
    transition: 0.15s;
}

            /* ==================  CONTACT ME  ================= */


.container-a {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
    padding: 2em;
    text-decoration:underline;
    text-decoration-color: #cc0000;
}



/* .contact-wrapper {
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.289);
} */

.contact-wrapper > * {
    padding: 1em;
}



.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
    letter-spacing: 2px;
    font-size: 25px;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    font-size: 30px;
    border-radius: 5px;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */




/* FOOTER */
footer{
    margin-top: 10em;
    width:100vw;
    background-color:rgb(8, 8, 8);
}
.container-footer{
    display:flex;
    justify-content:space-around;
}
.container-titulo-footer{
    display:inline-block;
    padding: 50px;

}
.container-titulo-footer h4{
    font-size:50px;
    text-align: center;
    color:#CC0000;
}
.listas-footer{
    padding:25px;
    line-height:30px;
    font-size:25px;
}
.lista-palabras{
    color:#fff;
}

.redes{
    padding:25px;
    font-size:25px;
}
.iconos-footer{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}